# Ignore massive datasets and outputs
RTIOD/project/data/
RTIOD/project/submissions/
RTIOD/project/runs/
RTIOD/project/scores/

# Ignore Python caches
__pycache__/
*.pyc
RTIOD/assets/
RTIOD/project/README.md
RTIOD/project/README_RANK1_SUMMARY.md
RTIOD/project/README_WALKTHROUGH.md
RTIOD/project/config/
